<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>groupName</key>
		<string>程序员</string>
		<key>open</key>
		<false/>
		<key>memberList</key>
		<array>
			<dict>
				<key>name</key>
				<string>张三</string>
				<key>desc</key>
				<string>Java开发程序员一枚</string>
				<key>icon</key>
				<string>20050616062220441[1].jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>李四</string>
				<key>desc</key>
				<string>IOS开发容易学</string>
				<key>icon</key>
				<string>20050616062302389[1].jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>王五</string>
				<key>desc</key>
				<string>Android开发很难学</string>
				<key>icon</key>
				<string>20050622075410788[1].jpg</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>groupName</key>
		<string>家人</string>
		<key>open</key>
		<false/>
		<key>memberList</key>
		<array>
			<dict>
				<key>name</key>
				<string>爸爸</string>
				<key>desc</key>
				<string>马上退休了</string>
				<key>icon</key>
				<string>20050616062219674[1].jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>妈妈</string>
				<key>desc</key>
				<string>多吃青菜少吃肉!</string>
				<key>icon</key>
				<string>20050616062220275[1].jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>姐姐</string>
				<key>desc</key>
				<string>淘宝卖家奸商多</string>
				<key>icon</key>
				<string>20050622075410922[1].jpg</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>groupName</key>
		<string>同学</string>
		<key>open</key>
		<false/>
		<key>memberList</key>
		<array>
			<dict>
				<key>name</key>
				<string>小明</string>
				<key>desc</key>
				<string>今天不上课</string>
				<key>icon</key>
				<string>20050622075410735[1].jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>小李</string>
				<key>desc</key>
				<string>努力考研!</string>
				<key>icon</key>
				<string>20050622075410796[1].jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>狗蛋</string>
				<key>desc</key>
				<string>我是最帅的!</string>
				<key>icon</key>
				<string>20050622075410794[1].jpg</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
